@media (max-width: 991px) {
    .promo {
        &__wrapper {
            text-align: center;
            align-items: center;
        }
        .header {
            padding: 0 15px;
        }
    }
    .advantages {
        padding-top: 50px;
        &__boxes {
            margin-top: 45px;
            justify-content: space-around;
        }
        &__box {
            width: 214px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .consult {
        padding-top: 50px;
        .title_left {
            text-align: center;
            font-size: 32px;
        }
        &__descr {
            text-align: center;
            margin-top: 40px;
        }
        &__forms {
            .feed-forms {
                margin: 0 auto;
            }
        }
    }
    .carousel {
        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            button {
                display: none;
            }
            li {
                list-style-type: none;
                width: 10px;
                height: 10px;
                background-color: rgb(184, 184, 184);
                border: none;
                border-radius: 100%;
                margin: 0 5px;
                padding: 0;
            }
            .slick-active {
                width: 10px;
                height: 10px;
                background-color: rgb(92, 92, 92);
                border-radius: 100%;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        .catalog-item {
            margin: 0 20px 20px 20px;
        }
    }
    .reviews {
        &__comment {
            img {
                margin-left: 17px;
            }
        }
        &__text {
            width: 95%;
        }
    }
    .footer {
        &__info {
            width: 320px;
            height: 230px;
            padding: 30px 0 0 0;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        .header {
            &__official {
                display: none;
            }
        }
    }
    .title {
        font-size: 25px;
    }
    .advantages {
        padding-top: 50px;
        &__boxes {
            margin-top: 10px;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        }
        &__box {
            margin-top: 35px;
            width: 240px;
        }
        &__subheader {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 14px;
        }
    }
    .consult {
        .title_left {
            font-size: 26px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tab {
            width: 170px;
        }
        .catalog-item {
            width: 450px;
            min-height: 300px;
            padding: 10px 20px 16px 20px;
            &__content {
                display: flex;
            }
            &__mobile-img {
                width: 200px;
                display: flex;
                align-items: center;
            }
            &__mobile-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 2px solid gray;
            }
        }
    }
    .reviews {
        &__comment {
            margin-top: 70px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                margin: 0;
            }
        }
        &__name {
            margin-top: 15px;
        }
        &__text {
            margin: 0 auto;
            margin-top: 15px;
            width: 95%;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__contacts {
            .button {
                width: 120px;
                font-size: 10px;
            }
        }
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        min-height: 500px;
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 35px;
            line-height: 40px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            display: none;
        }
    }
    .consult {
        .title_left {
            font-size: 21px;
        }
    }
    .catalog {
        padding-bottom: 70px;
        &__tab {
            width: 75px;
            font-size: 11px;
            &__desktop {
                display: none;
            }
            &__mobile {
                display: block;
            }
        }
        .catalog-item {
            width: 100%;
            margin: 0 0 20px 0;
            padding-left: 10px;
            &__mobile-img {
                width: 180px;
                img {
                    margin-top: 10px;
                    height: 160px;
                }
            }
            &__mobile-info {
                justify-content: center;
            }
            &__subt {
                margin-top: 10px;
                font-size: 14px;
            }
            &__descr {
                font-size: 13px;
            }
            &__list {
                padding-left: 29px;
                li {
                    font-size: 12px;
                    margin-bottom: 17px;
                }
            }
            &__back {
                transform: translateX(calc(-50% - 9px));
            }
        }
    }
    .reviews {
        &__text {
            font-size: 13px;
        }
    }
}